/* * {
  border: 1px solid red;
} */

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 48px;
  font-weight: 800;
  color: #f9faf8;
  margin: 0;
}

h2 {
  display: flex;
  justify-content: center;
  font-size: 36px;
  font-weight: 800;
  color: #1f2937;
}

h3 {
  color: #f9faf8;
  font-size: 24px;
}

h5 {
  font-size: 18px;
  margin-bottom: -12px;
}

a {
  text-decoration: none;
  list-style-type: none;
  color: #f9faf8;
  font-weight: 300;
}

button {
  background-color: #3882f6;
  color: #f9faf8;
  padding: 6px 30px;
  border-radius: 5px;
  font-size: 16px;
}

#hero-secondary {
  font-size: 18px;
  color: #fcfdff;
  font-weight: 300;
  margin: 0 0 10px;
}

#quote-text {
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;
  color: #1f2937;
}

#quote-author {
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  margin-top: -50px;
  padding-bottom: 50px;
}

#action-button {
  border: 2px solid #f9faf8;
}

#action-subtext {
  font-size: 16px;
  font-weight: 300;
}

#hero-button {
  border: 2px solid #1f2937;
}

/* -------------HEADER BOX ---------------- */

.header-box {
  background-color: #1f2937;
}

.navigation {
  display: flex;
  justify-content: space-around;
  gap: 200px;
  margin-bottom: 50px;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 15px;
}

.hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 40px 100px 125px;
}

.hero-text {
  width: 450px;
}

/* --------------INFO BOX ----------------- */

.photo-grid {
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
}

.photo-text {
  text-align: center;
  flex-wrap: wrap;
  max-width: 156px;
}

.individual-pics {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 200px;
}

.photo-border {
  border: 3px solid #3882f6;
  border-radius: 5px;
}
/* -------------QUOTE BOX------------------- */

.quote-box {
  display: flex;
  justify-content: center;
  background-color: #e5e7eb;
  padding-top: 55px;
  padding-bottom: 25px;
}

.quote {
  max-width: 800px;
  justify-content: center;
}

/* -------------ACTION BOX-------------*/

.action-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.small-action-box {
  background-color: #3882f6;
  border-radius: 5px;
  margin: 80px 80px;
  min-width: 800px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 25px 0;
}

.action-text {
  color: #f9faf8;
}

.action-button-box {
  margin-left: 50px;
}

/* ---------------FOOTER BOX------------------------ */

.footer {
  background-color: #1f2937;
  color: #f9faf8;
  text-align: center;
  font-weight: 300;
  padding-top: 20px;
  padding-bottom: 20px;
}
